#main {
  display: flex;
  justify-content: center;
  /*border-left: 2px solid #bfcad2;
  border-right: 2px solid #bfcad2;
  border-bottom: 2px solid #bfcad2;
  border: 3px solid gray;*/
  padding: 50px;
  border-radius: 15px;
}

.interaction-area {
  width: 1200px;
}

#canvas {
  float: right;
  border: 3px solid gray;
  border-radius: 15px;
  max-width: 1000px;
  height: 600px;
}

#canvas:hover {
  box-shadow: 0px 1px 13px 4px #888888
}

.header {
  background-color: white;
  border-bottom: 2px solid #bfcad2;
  min-height: 60px;
  max-height: 60px;
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 2;
  /*margin-bottom: 15px;*/
}

.header-content {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
  justify-content: center;
  display: flex;
}



.title {
  display: flex;
  text-shadow: 1px 2px #858585;
  letter-spacing: 1px;
}

.first-title {
  color: #ececec;
}
.second-title {
  color: black;
}

.play {
  font-size: 35px;
  margin-right: 10px;
  opacity: .8;
}
.play:hover {
  cursor: pointer;
  opacity: 0.6;
}
.stop {
  font-size: 35px;
  margin-right: 10px;
  opacity: .8;
}
.stop:hover {
  cursor: pointer;
  opacity: 0.6;
}

.step-backwards {
  font-size: 35px;
  margin-right: 10px;
  margin-left: 10px;
  opacity: .8;
}
.step-backwards:hover {
  cursor: pointer;
  opacity: 0.6;
}


.mute {
  width: 100px;
  height: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tools-header {
  width: 1000px;
  display: flex;
  float: right;
  align-items: center;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
}

.mute {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 24px;
  justify-content: flex-end;
  padding-right: 10px;
}

.mute:hover {
  cursor: pointer;
  opacity: .7;
}

#myBtn {
    /* position: absolute; */
    height: 30px;
}
